.education {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
}
.education__line {
  width: 100%;
  height: 5px;
  background-color: #646cff;
  border-radius: 3px;
}
.educationItem {
  width: 100%;
  border-bottom: #646cff 1px solid;
}
.educationItem__school {
  color: #646cff;
}
.educationItem a {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
.courseItem {
  width: 100%;
  border-bottom: #646cff 1px solid;
  padding: 10px 0px;
}
.courseItem__heading{
  display: flex;
}